<table cellspacing="0" cellpadding="0" border="0" style="width:100%;table-layout:fixed;">
    <tbody>
        <tr>
            <td align="center" width="100%" style="font-family:Verdana,sans-serif;font-size:16px;line-height:1.4;font-weight:normal;">
                <table cellspacing="0" cellpadding="0" border="0" style="width:100%;table-layout:fixed;">
                    <tbody>
                        <tr>
							<td><a href="{reviewmail_link_href}&startRating=5"><img alt="Start 5" src="{store_url}catalog/view/theme/default/image/orderreviews/stars-5.png" /></a><span>&nbsp;</span><span><a href="{reviewmail_link_href}&startRating=5">{star_5}</a></span></td>
						</tr>
						<tr>
							<td><a href="{reviewmail_link_href}&startRating=4"><img alt="Start 4" src="{store_url}catalog/view/theme/default/image/orderreviews/stars-4.png" /></a><span>&nbsp;</span><span><a href="{reviewmail_link_href}&startRating=4">{star_4}</a></span></td>
						</tr>
						<tr>
							<td><a href="{reviewmail_link_href}&startRating=3"><img alt="Start 3" src="{store_url}catalog/view/theme/default/image/orderreviews/stars-3.png" /></a><span>&nbsp;</span><span><a href="{reviewmail_link_href}&startRating=3">{star_3}</a></span></td>
						</tr>
						<tr>
							<td><a href="{reviewmail_link_href}&startRating=2"><img alt="Start 2" src="{store_url}catalog/view/theme/default/image/orderreviews/stars-2.png" /></a><span>&nbsp;</span><span><a href="{reviewmail_link_href}&startRating=2">{star_2}</a></span></td>
						</tr>
						<tr>
							<td><a href="{reviewmail_link_href}&startRating=1"><img alt="Start 1" src="{store_url}catalog/view/theme/default/image/orderreviews/stars-1.png" /></a><span>&nbsp;</span><span><a href="{reviewmail_link_href}&startRating=1">{star_1}</a></span></td>
						</tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>