<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ mail_title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
<div style="width: 680px;"><a href="https://www.amds.hr/" title="AMDS Jeans"><img src="{{ mail_logo }}" alt="AMDS Jeans" style="margin-bottom: 20px; border: none;" /></a>
    <p style="color: inherit;font-family: Arial, Helvetica, sans-serif;margin-top: 0px;margin-bottom: 15px;word-break: break-word;font-size: 15px;line-height: 26px;">Po&scaron;tovani/a,</p>

    <p style="color: inherit;font-family: Arial, Helvetica, sans-serif;margin-top: 0px;margin-bottom: 15px;word-break: break-word;font-size: 15px;line-height: 26px;">pokrenuta je isporuka Vaše narudžbe br. {{ mail_order_id }} . Daljnje informacije o isporuci dobit ćete od dostavne službe.<br><br>

        Hvala Vam na kupnji,<br>

        Vaš AMSD tim</p>


</div>
</body>
</html>
